<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <div *ngIf="model; else loading">
            <h3 class="text-center">Latest articles</h3>
            <hr>
            <div *ngFor="let article of model.allArticlesByCategory">
                <div class="card">
                    <img class="card-img-top" [src]="article.imageUrl" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{article.title}}</h5>
                        <p class="card-text">{{article.content}}</p>
                        <p class="card-text"><small class="text-muted">Created on: {{article.createdOn | date:
                                'dd/MM/yyyy
                                HH:mm'}}</small></p>
                    </div>
                </div>
                <hr class="m-4">
            </div>
        </div>
        <ng-template #loading>
            Loading...
        </ng-template>
    </div>
</div>